@model ClickTourney.Models.ChangeUserInfoViewModel
@{
    ViewBag.Title = "Update Account Information";
}

@{
    <h2>@ViewBag.Title.</h2>
        <div>
            <section id="changeNameForm">
                @using (Html.BeginForm("ChangeUserInfo", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h4>Change your account settings</h4>
                    <hr />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- The Display Name -->
                    <div class="form-group">
                        @Html.LabelFor(m => m.DisplayName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @Value = ViewBag.DisplayName })
                        </div>
                        @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                    </div>

        <!--First Name-->
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @Value = ViewBag.FirstName })
                        </div>
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>

        <!-- Last Name me -->
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @Value = ViewBag.LastName })
                        </div>
                        
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Value = User.Identity.Name })
                        </div>      
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>

        </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}