@using ClickTourney.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{ 
    if (Request.IsAuthenticated)
    {
        <h1>You are already logged in!</h1>
    }
    else
    {
        <img src="~/Content/logo.png" class="splash-img" style="margin-top:40px;"/>
        <div style="max-width:300px;margin:0 auto; padding:0;">
            <hr/>
            <section id="loginForm" class="login-form">
                <h1>Login</h1>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Email -->
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

        <!--Password-->
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

        <!-- Remember me -->
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-default tourney-btn tourney-btn-login" />
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
}
            </section>

        </div>

    }


}

    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}