@model ClickTourney.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@{ 
    if (Request.IsAuthenticated)
    {
        <h1>Please logoff if you wish to make a new account.</h1>
    }
    else
    {
        <img src="~/Content/logo.png" class="splash-img" />
        <div style="max-width:250px;margin:0 auto; padding:0;">
            <hr/>

            <h1>Register</h1>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                            <input type="submit" class="btn btn-default tourney-btn" value="Register" />
                    </div>
            }
        </div>

    }

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
