@model ClickTourney.Models.Tournament

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="tournament-details">
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentType)
        </dd>

        <dd>
            <dt>@Html.DisplayNameFor(model => model.Matches)</dt>
        </dd>

        <dd>
            <table class="table" id="match-table">
                <tr>
                    <th>Match #</th>
                    <th>Competitors</th>
                </tr>
                @foreach (var match in Model.Matches)
                {
                    <tr class="match-item">
                        <td>
                            @Html.ActionLink(("Match #" + match.MatchNumber), "Details", "Matches", new { id = match.MatchId }, null)
                        </td>
                        <td>
                            @if (match.Player1 != null)
                            {
                                @Html.DisplayFor(modelItem => match.Player1.Alias)<text> VS </text>@Html.DisplayFor(modelItem => match.Player2.Alias)
                            }
                            else
                            {
                                <text>Waiting for match </text>@Html.DisplayFor(modelItem => match.PreviousMatch1)<text> and </text> @Html.DisplayFor(modelItem => match.PreviousMatch2)
                            }
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TournamentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>