@model ClickTourney.Models.Tournament
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="tournament-details">
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentType)
        </dd>

        <dd>
            <dt>@Html.DisplayNameFor(model => model.Matches)</dt>
        </dd>

        <dd>
            <table class="table" id="match-table">
                <tr>
                    <th>Match #</th>
                    <th>Competitors</th>
                    <th>Winner</th>
                </tr>
                @foreach (var match in Model.Matches)
                {
                    <tr style="@(match.Completed ? "background-color: forestgreen !important" : null)">
                        <td>
                            @if (match.Player1 == null || match.Player2 == null)
                            {
                                <text>Match #@match.MatchNumber</text>
                            }
                            else
                            {
                                @Html.ActionLink(("Match #" + match.MatchNumber), "Details", "Matches", new { id = match.MatchId }, null)
                            }
                        </td>
                        <td>
                            <text>@(match.Player1 != null ? match.Player1.ToString() : "Winner of " + match.PreviousMatch1)</text>
                            <text> VS. </text>
                            <text>@(match.Player2 != null ? match.Player2.ToString() : "Winner of " + match.PreviousMatch2)</text>
                        </td>
                        <td>
                            <text>@(match.Winner != null ? match.Winner.ToString() : "Not Finished")</text>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @if (User.Identity.GetUserId() == Model.Owner.Id)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.TournamentId }) <text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>