@model ClickTourney.Controllers.IndexList

@{
    ViewBag.Title = "Index";
}

<h1>My Tournaments</h1>

@if (!Model.lstOwned.Any())
{
    <h2>You have not created any tournaments yet!</h2>
    <h3>Create one now! @Html.ActionLink("Click Here!", "Create")</h3>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    if (Model.lstOwned.Any())
    {
        if (Model.lstOwned.Where(t => t.IsPublic).Any())
        {
            <h3>Owned Public:</h3>
            @Html.Partial("TourneyList", Model.lstOwned.Where(t => t.IsPublic))
        }
        if(Model.lstOwned.Where(t => !t.IsPublic).Any())
        {
            <h3>Owned Private:</h3>
            @Html.Partial("TourneyList", Model.lstOwned.Where(t => !t.IsPublic))
        }
    }

    if (Model.lstPlaying.Any())
    {
        if (Model.lstPlaying.Where(t => t.IsPublic).Any())
        {
            <h3>Participating in Public:</h3>
            @Html.Partial("TourneyList", Model.lstPlaying.Where(t => t.IsPublic))
        }
        if(Model.lstPlaying.Where(t => !t.IsPublic).Any())
        {
            <h3>Participating in Private:</h3>
            @Html.Partial("TourneyList", Model.lstPlaying.Where(t => !t.IsPublic))
        }
    }
}
