@model ClickTourney.Controllers.IndexList

@{
    ViewBag.Title = "Index";
}

<h1>My Tournaments</h1>

@if (Model.lstOwned.Count == 0 && Model.lstPlaying.Count == 0)
{
    <h2>You have not created any tournaments yet!</h2>
    <h3>Create one now! @Html.ActionLink("Click Here!", "Create")</h3>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    if (Model.lstOwned.Any())//If the user owns any tourneys
    {
        if (Model.lstOwned.Where(t => t.IsPublic).Any())//If the user owns any public tourneys
        {
            <h3>Owned Public:</h3>
            @Html.Partial("TourneyList", Model.lstOwned.Where(t => t.IsPublic))
        }
        if(Model.lstOwned.Where(t => !t.IsPublic).Any())//If the user owns any private tourneys
        {
            <h3>Owned Private:</h3>
            @Html.Partial("TourneyList", Model.lstOwned.Where(t => !t.IsPublic))
        }
    }

    if (Model.lstPlaying.Any())//If the user is PARTICIPATING in any touney
    {
        if (Model.lstPlaying.Where(t => t.IsPublic).Any())//If the user is PARTICIPATING in any public tourneys
        {
            <h3>Participating in Public:</h3>
            @Html.Partial("TourneyList", Model.lstPlaying.Where(t => t.IsPublic))
        }
        if(Model.lstPlaying.Where(t => !t.IsPublic).Any())//If the user is PARTICIPATING in any private tourneys
        {
            <h3>Participating in Private:</h3>
            @Html.Partial("TourneyList", Model.lstPlaying.Where(t => !t.IsPublic))
        }
    }
}
