@model IEnumerable<ClickTourney.Models.Tournament>
@{
    ViewBag.Title = "Public Tournaments";
}

<div class="form-group">
    <div class="col-md-offset-0 col-md-10">
        <h2>Join Public Tournements</h2>
    </div>
</div>

<!--Code taken from TourneyList.html-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotsAvailable)<text>/</text>@Html.DisplayFor(modelItem => item.PlayerCount)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.TournamentType)
            </td>
            <td>
                @Html.ActionLink("Join", "Join", new { id = item.TournamentId })
            </td>
        </tr>
    }

</table>
