@model IEnumerable<ClickTourney.Models.Tournament>
@using Microsoft.AspNet.Identity

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TournamentType)
        </th>
        <th>
            Join Link
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentType)
            </td>
            <td>
                <a href="@Url.Action("Join", "Tournaments", new { @id = item.TournamentId }, Request.Url.Scheme)">@Url.Action("Join", "Tournaments", new { @id = item.TournamentId }, Request.Url.Scheme)</a>
            </td>
            <td>
                @if (User.Identity.GetUserId() == item.Owner.Id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.TournamentId }) <text> | </text>
                    @Html.ActionLink("Details", "Details", new { id = item.TournamentId }) <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.TournamentId })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.TournamentId })
                }
            </td>
        </tr>
    }

</table>
